@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {

  h1,
  h2,
  h3,
  h4 {
    font-weight: 700;
  }

  h1 {
    font-size: var(--text-5xl);
  }

  h2 {
    font-size: var(--text-3xl);
  }

  h3 {
    font-size: var(--text-xl);
  }

  h4 {
    font-size: var(--text-base);
  }
}

@layer components {
  .content-grid {
    --padding-inline: 2rem;
    --content-max-width: 60rem;
    --breakout-max-width: 80rem;

    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

    display: grid;
    grid-template-columns:
      [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(100% - (var(--padding-inline) * 2),
        var(--content-max-width)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];
  }

  .content-grid> :not(.breakout, .full-width),
  .full-width> :not(.breakout, .full-width) {
    grid-column: content;
  }

  .content-grid>.breakout {
    grid-column: breakout;
  }

  .content-grid>.full-width {
    grid-column: full-width;
    display: grid;
    grid-template-columns: inherit;
  }

  .button {
    display: flex;
    place-items: center;
    padding: --spacing(2);
    gap: --spacing(2);
    font-size: var(--text-sm);
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-400);
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-lg);
    cursor: pointer;

    &:hover {
      background-color: var(--color-red-50);
    }

    &:focus {
      outline: 2px solid var(--color-gray-600);
      outline-offset: 1px;
    }
  }

  .input-field {
    padding-block: --spacing(1);
    padding-inline: --spacing(2);
    margin-bottom: --spacing(3);
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-400);
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-md);

    &:focus {
      outline: 2px solid var(--color-gray-600);
      outline-offset: 1px;
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}